body {
    margin: 60px auto;
    width: 70%;
}
h1 {
    font-size: 3em;
    font-family: 'Roboto Mono', monospace;
}

.message {
    background-color: aquamarine;
}

.profile {
    margin-top: 100px;
    border-radius: 10px;
}

