body {
    margin: 60px auto;
    width: 70%;
    align-content: center
}
h1 {
    font-size: 3em;
    font-family: 'Roboto Mono', monospace;
}

.message {
    margin: 30px;
}

.message_container {
    background-color: aquamarine;
    height: 60px;
    width: 20%;
}

.profile {
    margin-top: 20%;
    border-radius: 15%;
    height: 30%;
    width: 30%;
}